@page "/game"
<div class="container-fluid d-flex flex-column justify-content-center otk-dark-bg h-100">
    <NavBar />
    <div class="card align-self-stretch h-100 my-3">
        <div class="d-flex justify-content-center" id="otk-category" style="background-color: #eaeaea; height: 10%; max-height:10%;"> 
            <div class="align-self-center" style="font-size: x-large;">YO NUNCA NUNCA...</div>
        </div>
        <div class="mx-1 d-flex justify-content-center" id="otk-prompt" style="background-color: #709462; height: 45%;">
            <div class="mx-3 text-uppercase align-self-center" style="font-size: x-large; text-align:justify;">
                LE dije a la guatona candy que su mama era hombre
            </div>
        </div>
        <div class="mx-1 mb-1 d-flex justify-content-center" id="otk-punishment" style="background-color: #BF4A57; height: 45%;">
            <div class="mx-3 align-self-center overflow-auto" style="font-size: xx-large; text-align:justify;">BEBE 3 SORBOS, O PASA EL PACK</div>
        </div>
    </div>
    <div class="row justify-content-center">
        <button class="btn btn-primary mb-3">SIGUIENTE</button>
    </div>
</div>
