.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #C8AC63 !important;
    font-family: 'Manga';
    max-width: 80%;
    font-size: xx-large;
}

@media (max-width: 640.98px) {
    .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
        width: 80%;
    }
}

@media (min-width: 641px) {
    .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
        min-width: 40%;
        max-width: 50%;
    }
}
