@page "/"

<div class="otk-index otk-dark-bg">
    <div class="container-fluid d-flex flex-column px-0 h-100 w-100">
        <div class="mx-3 mt-3 mb-auto justify-content-center align-self-center otk-banner" style="height:15%; max-height: 15%; max-width: 100%;">
            <img src="images/banner.webp" style="max-width:100%; max-height: 100%;" />
        </div>
        <div class="mx-0 justify-content-center align-self-center" style="height: 50%; max-height: 50%; max-width: 100%;">
            <img src="images/inosuke.webp" class="align-self-stretch" style="max-width: 100%; max-height: 100%;" />
        </div>
        <div class="mx-0 justify-content-center align-self-center" style="max-width: 80%;">
            <a href="/game" class="row btn btn-primary align-self-center">PRESIONA PARA JUGAR</a>
        </div>
        <div class="mx-0 mb-2 mt-auto justify-content-center align-self-center">
            <a href="/about" class="my-1 align-self-center">Acerca de</a>
        </div>
        <!--<SurveyPrompt Title="How is Blazor working for you?" />-->
    </div>
</div>
