@page "/"

<div class="otk-index otk-dark-bg">
    <div class="container-fluid d-flex flex-column px-0 h-100 w-100">
        <div class="row mx-4 justify-content-center otk-banner" style="max-height: 15%; max-width: 100%;">
            <img src="images/banner.webp" style="height:100%; max-width:100%;" />
        </div>
        <div class="row mx-0 justify-content-center" style="height: 50%; max-height: 50%; max-width: 100%;">
            <img src="images/inosuke.webp" style="height:100%"; max-width: 100%; />
        </div>
        <div class="row mx-0 mb-2 justify-content-center" style="height: 20%; max-height: 15%; max-width: 100%;">
            <button class="btn btn-primary" @onclick="IncrementCount">PRESIONA PARA JUGAR</button>
        </div>

        <!--<SurveyPrompt Title="How is Blazor working for you?" />-->
    </div>
</div>
